body{
	background-color: #999999;
}
.main-nav{
	padding-left: 10em;
	padding-right: 4em;
}
.login-con{
	margin: 25px auto;
	
}
.left-container-small{
	/*box-shadow: 2px 2px 10px #ccc;	*/
}
.inner-con{
	background: #f2f2f2;
	width: 400px;
	margin-right: -200px;
	z-index: 1;
	margin-top: 40px;
	padding: 40px;
	margin-bottom: 40px;
	box-shadow: 5px 5px 10px #828282;
}
.left-container-big{
	background: linear-gradient( to bottom, #40AE9E, #0A72A5);
	width: 80%;
	margin-left: 20px;
	border: 1px solid #ccc;
}
.right-container{
	background-color: #f2f2f2;
}
.nav-tabs .nav-link {
	border-radius: 0;
	border-left: 0;
	border-bottom: 1px;
}
.nav-justified .nav-item {
	padding: 0;
	font-weight: bold;
	font-size: 0.9em;
}
.nav-item {
		padding: 0 10px;
}
.nav-row{
	border-bottom: 2px solid #ccc;
	background-color: #f2f2f2;
	/*height: 10%;*/
}
.panel-content{
	margin: auto 50px;
}
.sign-in-form{
	/*padding-top: 3em;*/
	width: 100%;
}
.auth-btn{
	color: #999;
}
.label{
	color: #bdbdbd;
}
.btn-grad{
	background-image: linear-gradient(to right, #3fb1a4, #097bb3);
	width: 90%;
	border-radius: 25px;
	margin-top: 1em;
	padding: 0.4em;
	font-size: 1em;
}
.questions{
	padding: 1em;
	font-size: 0.7em;
}