body{
	background-color: #999999;
}
.main-nav{
	padding-left: 6em;
	padding-right: 4em;
}
/*.right-nav{
	margin-left: 45em;
}*/
.login-container{
	margin-top: 3em;
	width: 60%
}


.left-card{
	height: 500px;
	padding-top: 2em;
  	background-image: linear-gradient(to top, #097bb3 0%, #3fb1a4 100%);
}
.right-card{
	background-color: #ffffff;
}
.overlap-container{
	padding-top: 4em;
	padding-bottom: 2em;
	width: 110%;
	height: 94%;
	margin-left: -7em;
}
.card-img{
	margin-left: 10em;
}
.nav-row{
	background-color: #f2f2f2;
	/*padding-top: 25px; */
	/*height: 25%;*/
	border-bottom: 1px solid #ccc;

}
.auth-btn{
	color: #999;
}
.sign-in-form{
	padding-top: 3em;
	width: 100%;
}
.label{
	color: #bdbdbd;
}
.btn-grad{
	background-image: linear-gradient(to right, #3fb1a4, #097bb3);
	width: 70%;
	border-radius: 25px;
	margin-top: 2em;
}
.questions{
	line-height: -10px;
	padding: 1em;
}