body{
	background-color: #bdbdbd;
}
.main-nav{
	padding-left: 6em;
}
/*.right-nav{
	margin-left: 45em;
}*/
.login-container{
	margin-top: 3em;
	width: 70%
}
.left-card{
	height: 500px;
	padding-top: 2em;
  	background-image: linear-gradient(to top, #097bb3 0%, #3fb1a4 100%);
}
.right-card{
	background-color: #ffffff;
}
.overlap-container{
	padding-top: 4em;
	padding-bottom: 2em;
	width: 110%;
	height: 94%;
	margin-left: -7em;
}
.card-img{
	margin-left: 10em;
}
.right-nav-row{
	background-color: transparent;
	padding-top: 25px; 
	height: 15%;
	border-bottom: 2px solid #bdbdbd;

}
.auth-btn{
	color: #3fb1a4;
}
.sign-in-form{
	padding-top: 3em;
	width: 100%;
}
.label{
	color: #bdbdbd;
}
.btn-grad{
	background-image: linear-gradient(to right, #3fb1a4, #097bb3);
	width: 70%;
	border-radius: 25px;
	margin-top: 2em;
}
.questions{
	line-height: -10px;
	padding: 1em;
}